<header class="header">
  <div class="container">
    <div class="content">
      <div class="logo">logo</div>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-list-item">START</li>
          <li class="nav-list-item">ABOUT</li>
          <li class="nav-list-item">LATEST</li>
          <li class="nav-list-item">CATEGORIES</li>
          <li class="nav-list-item">SESSION</li>
          <li class="nav-list-item">CONTACT</li>
        </ul>
      </nav>
    </div>
  </div>
</header>
